@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
    --cor-principal: #090c13;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #24282c;

    --fonte-primaria: "Share Tech", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-principal);
    color: white;
    /* height: 90vh; */
    width: 100%;
    box-sizing: border-box;
}

.cabecalho {
    padding: 15px;
    text-align: left;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    padding: 2% 0 0 20%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8% 20%;
}

.apresentacao__conteudo {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-weight: bold;
    text-align: justify;
}

.apresentacao__conteudo__texto {
    font-size: 22px;
}


strong,
span {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo__destaque {
    font-size: 40px;
}

.apresentacao__links__subtitulo {
    font-weight: 400;
    font-size: 23px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

}

.apresentacao__links__link {
    display: flex;
    justify-content: left;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    gap: 16px;

    img {
        margin-left: 25px;
        margin-right: 25px;
    }
}



.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__conteudo__imagem {
    margin-left: 7%;
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}